
.styler {
  position: fixed;
  bottom: ms(-2);
  left: ms(-2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;

  .closer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--black);
    transition: opacity 0.2s;
    z-index: 1;
  }

  .toggler {
    height: ms(2);
    width: ms(2);
    border-radius: ms(2);
    padding: 0;
    font-size: ms(1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .chooser {
    display: flex;
    flex-direction: column;
    margin: ms(-1) 0;
    padding: ms(-2);
    border-radius: ms(-2);
    background: var(--primary-light);
    color: var(--black);
    z-index: 3;
    transition: opacity 0.2s;
  }

  &:not(.open) {
    .chooser {
      position: relative;
      z-index: -1;
      opacity: 0;
      pointer-events: none;

      * {
        pointer-events: none;
      }
    }
    .closer {
      opacity: 0;
      pointer-events: none;
    }
  }

  &.open {
    .chooser {
      opacity: 1;
    }
    .closer {
      opacity: 0.2;
    }
  }
}
