
.signup {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--background);
  box-shadow: 0 ms(-4) ms(0) ms(-5) var(--white);
  font-size: ms(1);

  h1 {
    background: var(--primary);
    color: var(--primary-contrast);
    padding: ms(0);
    margin: 0;
  }

  .formFields {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: ms(-2) 0;

    & > * {
      margin: ms(-2) ms(0);
    }
  }

  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;

    input {
      margin-left: ms(-1);
      font-size: ms(1);
    }
  }

  .loginLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
