
.button {
  --btn-background: var(--foreground);
  --btn-background-light: var(--foreground);
  --btn-background-dark: var(--background);
  --btn-foreground: var(--background);

  border-radius: ms(-2);
  padding: ms(-3) ms(-2);
  background: var(--btn-background);
  color: var(--btn-foreground);
  border: solid 2px var(--btn-background);
  font-size: ms(-1);

  &:hover, &:focus {
    background: var(--black);
    color: var(--btn-background-light);
    border-color: var(--btn-background-light);
  }

  &:active {
    background: var(--white);
    color: var(--btn-background-dark);
    border-color: var(--btn-background-dark);
  }

  @each $col in black, white, primary, success, warning, drab, blood {
    &.$(col)-color {
      --btn-background: var(--$(col));
      --btn-background-light: var(--$(col)-light);
      --btn-background-dark: var(--$(col)-dark);
      --btn-foreground: var(--$(col)-contrast);
    }
  }

  &.small-size {
    padding: ms(-4) ms(-3);
  }

  &.large-size {
    font-weight: 500;
    font-size: ms(0);
  }

  &.x-large-size {
    font-weight: 500;
    font-size: ms(1);
  }
}
