
.installButton {
  position: fixed;
  bottom: ms(-2);
  right: ms(-2);
  height: ms(2);
  width: ms(2);
  padding: 0;
  border-radius: ms(2);
  font-size: ms(1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}