
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
  font-size: 1em;

  .svgIcon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: -0.15em -0.25em -0.35em;
    transition: transform 0.3s;
  }
}
