:root {
  $black: getDefault(black);
  $white: getDefault(white);

  $primary: getDefault(primary);
  $success: getDefault(success);
  $warning: getDefault(warning);
  $drab: getDefault(drab);
  $blood: getDefault(blood);

  --black: $black;
  --black-rgb: printRgb($black);
  --dark-grey: color($black whiteness(+20%));
  --medium-grey: color($black whiteness(+60%));
  --light-grey: color($black whiteness(+100%));
  --white: $white;
  --white-rgb: printRgb($white);

  --primary: $primary;
  --primary-rgb: printRgb($primary);
  --primary-contrast: getContrastingColor($primary);
  --primary-light: makeCompliant($primary, $black);
  --primary-light-rgb: printRgb(makeCompliant($primary, $black));
  --primary-dark: makeCompliant($primary, $white);
  --primary-dark-rgb: printRgb(makeCompliant($primary, $white));

  --success: $success;
  --success-rgb: printRgb($success);
  --success-contrast: getContrastingColor($success);
  --success-light: makeCompliant($success, $black);
  --success-light-rgb: printRgb(makeCompliant($success, $black));
  --success-dark: makeCompliant($success, $white);
  --success-dark-rgb: printRgb(makeCompliant($success, $white));

  --warning: $warning;
  --warning-rgb: printRgb($warning);
  --warning-contrast: getContrastingColor($warning);
  --warning-light: makeCompliant($warning, $black);
  --warning-light-rgb: printRgb(makeCompliant($warning, $black));
  --warning-dark: makeCompliant($warning, $white);
  --warning-dark-rgb: printRgb(makeCompliant($warning, $white));

  --drab: $drab;
  --drab-rgb: printRgb($drab);
  --drab-contrast: getContrastingColor($drab);
  --drab-light: makeCompliant($drab, $black);
  --drab-light-rgb: printRgb(makeCompliant($drab, $black));
  --drab-dark: makeCompliant($drab, $white);
  --drab-dark-rgb: printRgb(makeCompliant($drab, $white));

  --blood: $blood;
  --blood-rgb: printRgb($blood);
  --blood-contrast: getContrastingColor($blood);
  --blood-light: makeCompliant($blood, $black);
  --blood-light-rgb: printRgb(makeCompliant($blood, $black));
  --blood-dark: makeCompliant($blood, $white);
  --blood-dark-rgb: printRgb(makeCompliant($blood, $white));

  --background: var(--black);
  --foreground: var(--white);
}
