
:global(html), :global(body) {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
}

:root {
  font-size: 14px;
}

:global(#root) {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--background);
  color: var(--foreground);
}

@for $i from 1 to 6 {
  h$(i) {
    font-size: ms(calc(3.5 - $i * 0.5))
  }
}

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
}
