
.colorPicker {
  margin: ms(-3);
  display: flex;
  flex-direction: row;

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .colorTextInput {
    width: ms(4);
    margin-left: ms(-3);
  }
}
