.tooltip {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 50%;
  border-color: var(--primary-dark);
  cursor: pointer;

  .icon { font-size: 1rem; }

  .message {
    display: none;
    position: absolute;
    margin-top: -4rem;
    margin-left: 2rem;
    padding: 1rem;
    width: 10rem;
    font-size: 1rem;
    text-align: left;
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--primary);
    border-radius: 0.5rem;
  
    &.visible { display: block; }
  }
}
