
@import '../../global-css/mixins.pcss';

.header {
  display: flex;
  padding: ms(-2);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--blood);
  color: var(--blood-contrast);

  .title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .logo {
    font-family: 'Special Elite', cursive;
    position: relative;
    top: ms(-3, -1);
    margin: 0;
    font-size: ms(2);
    text-decoration: none;
    outline: none;
    line-height: 1em;
    @mixin breakpoint xs { top: ms(-4); }

    &:hover, &:focus {
      opacity: 0.7;
    }
  }

  .icon {
    position: relative;
    top: ms(-4);
    margin-right: ms(-3);
    @mixin breakpoint xs { display: none; }
  }

  .subtitle {
    font-size: ms(1);
    margin: 0 0 0 ms(1);
    @mixin breakpoint tablet { display: none; }
  }

  .nav {
    ul {
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;
    }

    li {
      margin: 0 ms(-3);
      list-style-type: none;
      @mixin breakpoint xs {
        margin: 0 ms(-3);
      }
    }
  }
}