
.message {
  --message-background: var(--foreground);
  --message-foreground: var(--background);

  background: var(--message-background);
  color: var(--message-foreground);
  padding: ms(-1);
  font-size: ms(1);
  border-radius: ms(-1);
  margin: ms(-1);

  @each $col in black, white, primary, success, warning, drab, blood {
    &.$(col)-color {
      --message-background: var(--$(col));
      --message-foreground: var(--$(col)-contrast);
    }
  }
}
